@use 'styles' as bp;


:host {
   display: contents;
}

.breakdown__place {
   align-items: baseline;
   display: flex;
   gap: 8px;
   margin: 0 0 16px;
}

.breakdown__placeName {
   color: var(--color-purple);
   font-family: var(--font-display);
   font-size: 1.125rem;
   line-height: 22px;
   font-weight: 700;
}

.breakdown__placeDays {
   color: var(--color-text);
   font-size: 0.875rem;
   line-height: 24px;
}

.breakdown__details {
   display: flex;
   flex-direction: column;
   gap: 16px;
   padding-bottom: 16px;
}

.breakdown__row {
   color: var(--color-text);
   display: flex;
   font-size: 0.875rem;
   justify-content: space-between;

   @media (min-width: bp.$breakpoint-tablet) {
      font-size: 1rem;
   }
}

.breakdown__rowLabel {
   font-size: 1rem;
   line-height: 22px;

   @media (min-width: bp.$breakpoint-tablet) {
      line-height: normal;
   }
}

.breakdown__rowValue {
   font-size: 1.125rem;
   font-weight: 700;
   line-height: 20px;

   @media (min-width: bp.$breakpoint-tablet) {
      font-size: 1.125rem;
      line-height: normal;
   }
}

.breakdown__totalPrice {
   border-top: 1px solid var(--color-border);
   background-color: var(--color-white);
   color: var(--color-text);
   display: flex;
   font-size: 1.375rem;
   font-weight: 700;
   line-height: 24px;
   justify-content: space-between;
   padding: 20px 16px;

   @media (min-width: bp.$breakpoint-tablet) {
      background-color: var(--color-bg-pastel);
      font-size: 1.125rem;
      line-height: 24px;
   }
}

.breakdown__totalLabel {
   font-size: 1.125rem;
   line-height: 22px;

   @media (min-width: bp.$breakpoint-tablet) {
      line-height: 24px;
   }
}

.breakdown__totalValue {
   font-weight: 700;

   @media (min-width: bp.$breakpoint-tablet) {
      font-size: 1.375rem;
   }
}
