<wl-modal
  [open]="open()"
  heading="Desglose de precios"
  [anchored]="true"
  (close)="close.emit()"
>
  <p class="breakdown__place">
    <span class="breakdown__placeName">Marruecos, África</span>
    <span class="breakdown__placeDays">9 días</span>
  </p>

  <div class="breakdown__details">
    <div class="breakdown__row">
      <span class="breakdown__rowLabel">Precio antes de impuestos</span>
      <span class="breakdown__rowValue">1.124,00 €</span>
    </div>
    <div class="breakdown__row">
      <span class="breakdown__rowLabel">Impuesto</span>
      <span class="breakdown__rowValue">4,43 €</span>
    </div>
    <div class="breakdown__row">
      <span class="breakdown__rowLabel">Lorem ipsum</span>
      <span class="breakdown__rowValue">150,42 €</span>
    </div>
  </div>

  <div class="breakdown__totalPrice" modalFooter>
    <span class="breakdown__totalLabel">Precio final</span>
    <span class="breakdown__totalValue">2.455,00 €</span>
  </div>
</wl-modal>
