<header class="header">
  <div class="header__bar">
    <a class="header__logo" href="/" aria-label="Waveless, ir al inicio">
      <img class="header__logoIcon" src="/img/logo-waveless.png" alt="Logo de la web Waveless">
    </a>

    <nav class="header__nav" id="header-nav" aria-label="Navegación principal">
      <ul class="header__links">
        <li>
          <a class="header__link" href="#">
            <img class="header__linkIcon" src="/icons/icon-adventure.svg" alt="">
            Aventura
          </a>
        </li>
        <li>
          <a class="header__link" href="#">
            <img class="header__linkIcon" src="/icons/icon-destination.svg" alt="">
            Destinos
          </a>
        </li>
        <li>
          <a class="header__link" href="#alojamiento">
            <img class="header__linkIcon" src="/icons/icon-house.svg" alt="">
            Alojamiento
          </a>
        </li>
        <li><a class="header__link" href="#sobre-nosotros">Sobre nosotros</a></li>
      </ul>
    </nav>
    <button type="button" class="header__btnReserva">Reserva</button>
    <button type="button" class="header__btnBurguer" aria-hidden="true" tabindex="-1">
      <img class="header__iconMenu" src="/icons/icon-menu-burguer.svg" alt="">
    </button>
  </div>
</header>
