@if (open()) {
  <div class="modal__backdrop" (click)="close.emit()"></div>

  <div
    #panel
    class="modal"
    [class.modal--anchored]="anchored()"
    [class.modal--float-left]="floatLeft()"
    [style.transform]="anchoredOffsetX() ? 'translateX(' + anchoredOffsetX() + 'px)' : null"
    tabindex="-1"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="headingId"
  >
    <div class="modal__header">
      <h3 class="modal__heading" [id]="headingId">{{ heading() }}</h3>
      <button type="button" class="modal__closeBtn" aria-label="Cerrar" (click)="close.emit()">
        <fa-icon [icon]="faXmark" aria-hidden="true"></fa-icon>
      </button>
    </div>

    <div class="modal__content">
      <ng-content></ng-content>
    </div>
    
    <ng-content select="[modalFooter]"></ng-content>
  </div>
}
