@use 'styles' as bp;

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 56px 32px;

    @media (min-width: bp.$breakpoint-tablet) {
        padding: 56px 24px;
    }

    &__headingTitle {
        font-family: var(--font-display);
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 30px;
        margin: 0;
    }

    &__subtitle {
        color: var(--color-slate);
        font-family: var(--font-base);
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 24px;
        margin: 0;
    }
}