:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.app__content {
  position: relative;
}

.app__resultsRow {
  @media (min-width: 1200px) {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    padding: 0 91px 72px 91px;
  }
}
